.Base__logo {
    width: auto;          /* Adjust size as needed */
    height: 70%;         /* Adjust size as needed */
    margin-left: 15px;   /* Space between logo and any other elements if needed */
  }